#!/usr/bin/make -f
#export DH_VERBOSE = 1
export PYBUILD_NAME=domdf-python-tools
	
%:
	dh $@ --with python3  --buildsystem=pybuild
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 -m pytest  -v -p no:warnings --ignore=tests/test_terminal.py
endif
